.filter-button {
  margin-bottom: 8px;
}

.filter {
  display: flex;
  flex-direction: row;

  .set {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .form {
      width: 200px;
    }

    .time-option {
      display: flex;
      flex-direction: column;
    }
  }
}

.confirm-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 8px;
}
