<ng-container *transloco="let t">
  <button
    mat-flat-button
    [matMenuTriggerFor]="setFilter"
    #childTrigger="matMenuTrigger"
    class="custom-select"
  >
    <div>{{ t('filterMenu.newFilter') }}</div>
  </button>

  <mat-menu #setFilter="matMenu" class="filter-option">
    <ng-container *ngFor="let filter of filters; let i = index">
      <button
        mat-menu-item
        (click)="onSetFilter(childTrigger, filter, i)"
        [disabled]="filter.isSet"
      >
        {{ t(filter.label) }}
      </button>
    </ng-container>
  </mat-menu>

  <form [formGroup]="filterForm">
    <ng-container
      formArrayName="filters"
      *ngFor="let filter of filtersControl; let i = index"
      [ngSwitch]="findFilter(i).type"
    >
      <div class="filter">
        <!-- Auto Complete Filter -->
        <mat-form-field appearance="outline" [formGroupName]="i" *ngSwitchCase="'autoComplete'">
          <mat-label>{{ t(findFilter(i).label) }}</mat-label>
          <input
            matInput
            [formControlName]="findFilter(i).name"
            [matAutocomplete]="auto"
            placeholder="{{ t('filterMenu.pleaseEnter') }} {{ t(findFilter(i).label) }}"
            maxlength="50"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of autoCompleteFilteredOptionsAPI[i] | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- String Filter -->
        <mat-form-field appearance="outline" [formGroupName]="i" *ngSwitchCase="'string'">
          <mat-label>{{ t(findFilter(i).label) }}</mat-label>
          <input
            matInput
            [formControlName]="findFilter(i).name"
            placeholder="{{ t('filterMenu.pleaseEnter') }} {{ t(findFilter(i).label) }}"
            maxlength="50"
          />
        </mat-form-field>

        <!-- Multi Selection Filter -->
        <mat-form-field appearance="outline" [formGroupName]="i" *ngSwitchCase="'selection'">
          <mat-label>{{ t(findFilter(i).label) }}</mat-label>
          <mat-select [formControlName]="findFilter(i).name">
            <mat-option *ngFor="let option of findFilter(i).options" [value]="option.value">
              {{ t(option.name) }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Time Filter -->
        <div class="time-option" [formGroupName]="i" *ngSwitchCase="'time'">
          <mat-form-field class="selection" appearance="outline">
            <mat-label>{{ t(findFilter(i).label) }}</mat-label>
            <mat-select
              [formControlName]="'timeSelector'"
              (selectionChange)="timeFilterSelectionChange(i)"
            >
              <mat-option *ngFor="let option of findFilter(i).options" [value]="option.value">
                {{ t(option.name) }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" *ngIf="selectedTimeFilter(i) !== 'between'">
            <mat-label>{{ t('filterMenu.selectDateTime') }}</mat-label>
            <input
              matInput
              [ngxMatDatetimePicker]="picker_i"
              placeholder="{{ t('filterMenu.selectDateTime') }}"
              [formControlName]="'dateTime'"
            />
            <mat-datepicker-toggle matSuffix [for]="$any(picker_i)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #picker_i
              [showSpinners]="true"
              [stepHour]="1"
              [stepMinute]="1"
              [touchUi]="false"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>

          <ng-container *ngIf="selectedTimeFilter(i) === 'between'">
            <mat-form-field appearance="outline">
              <mat-label>{{ t('filterMenu.startDateTime') }}</mat-label>
              <input
                matInput
                [ngxMatDatetimePicker]="start_i"
                placeholder="{{ t('filterMenu.startDateTime') }}"
                [formControlName]="'min'"
              />
              <mat-datepicker-toggle matSuffix [for]="$any(start_i)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker
                #start_i
                [showSpinners]="true"
                [stepHour]="1"
                [stepMinute]="1"
                [touchUi]="false"
              >
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ t('filterMenu.endDateTime') }}</mat-label>
              <input
                matInput
                [ngxMatDatetimePicker]="end_i"
                placeholder="{{ t('filterMenu.endDateTime') }}"
                [formControlName]="'max'"
              />
              <mat-datepicker-toggle matSuffix [for]="$any(end_i)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker
                #end_i
                [showSpinners]="true"
                [stepHour]="1"
                [stepMinute]="1"
                [touchUi]="false"
              >
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </form>
</ng-container>
